[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "==1.14"
scipy = "==1.1.0"
scikit-learn = "==0.19.0"
pandas = "*"
tables = "*"
bokeh = "==0.12.16"
matplotlib = "*"
gsd = "*"
"ruamel.yaml" = "*"
hsluv = "*"
"e1839a8" = {path = ".", editable = true}

[dev-packages]
pytest = "*"
pylint = "*"
numpy-quaternion = "==2018.02.22.22.24.39"
cython = "*"
setuptools = "*"
hypothesis = "*"
coverage = "*"
mypy = "*"
pytest-mypy = "*"
pytest-pylint = "*"
pytest-cov = "*"
pytest-lazy-fixture = "*"
black = "==18.5b1"
wheel = "*"

[requires]
python_version = "3.6"
